.#{$prefix-cls}-sidebar {
  display: flex;
  padding: var(--#{$prefix-cls}-sidebar-padding-mobile);
  @include media-query($media-breakpoint-lg) {
    width: 25rem;
    padding: var(--#{$prefix-cls}-sidebar-padding);
  }
}
